body{
    background-image: url("../images/brickwall.png");
}

.jumbotron{
    height: 555px;
    background-image: url("../images/re1.jpg");
    background-size: cover;
}

.save, .unsave, .notes{
    float: right;
}

#titleInput{
    margin-top: 5px;
    width: 100%;
}

#bodyInput{
    margin-top: 5px;
    width: 100%;
    height: 150px;
}
