{{>navbar/navbar}}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 text-center">Mongo Scraper</h1>
    <h3 class="display-4 text-center">Real Estate Edition</h3>
  </div>
</div>

<div id="wrapper" class="row">
  <div id="articles" class="articles1"></div>
  <div id="notes" class="notes1"></div>
</div>