{{>navbar/navbar}}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 text-center">Saved Articles</h1> 
    <h3 class="display-4 text-center">Mongo Scraper</h3>
    <h5 class="display-4 text-center">Real Estate Edition</h5>
  </div>
</div>

<div id="wrapper" class="row">
  <div id="savedArticles" class="articles1"></div>
  <div id="savedNotes" class="notes1"></div>
</div>